    {% extends 'home_page/home.html' %}
    {% load static %}
    {% block content %}
      <script> M.toast({html: 'Sign Up!'})</script>
    <form id="pop-Signup" class="modal-content animate" method="POST">
        {% csrf_token %}
        
        <span class="close" title="Close PopUp"><a href="{% url 'homepage' %}">&times;</a></span>
        <h1 style="text-align:center">Sign Up</h1>
    
        <div id="1step" class="contain">   
        
        {{form.as_p}}
         <script>
        function sync(){ var txt1 = document.getElementById('std_username') ;var txt2 = document.getElementById('id_username');txt1.value=txt2.value}
        </script>
        <button id="next" style="background:rgb(32, 32, 185)" onclick="sync()">Next</button>
        </div> 
        
        <div id="2step" class="contain" style="display:none;">
        {{studentform.as_p}}
        <button type="submit" style="background:rgb(5, 5, 87)">Sign Up</button>     

    </div>

    </form> 
    {% endblock %}
    <script>                  
        var modal = document.getElementById('pop-Login');
        window.onclick = function(event) {
            if (event.target == modal) {
               link(" ");
            }
        }
    </script>