<div class="fixed-footer">
                <div><ul><h5>C.A.P.</h5><li><a href="{% url 'student' %}">Home</a><li>About us<li>Managment Team</ul></div>
                    

</div>
<div class="fixed-footer" style="background-color: black">    
<span style="margin: 0 10% 1% 10%">D Batch</span> <object align="right">Contact Us: <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ganesh.himanshu11@gmail.com&subject=Subject Using Mailto.co.uk&body=Enter your Queries:">
        Admin</a></object>
        
</div>
